<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Classement</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:replace="~{fragment::style2}"></div>

<body>

<div th:replace="~{fragment::navbar3}"></div>

<div class="w3-content w3-container w3-white w3-center" id="class">

  <h1>Classement des joueurs</h1>
  <p>Voici les classements des membres de l'association lors des différents tournois:</p>

  <table class="w3-content w3-table w3-table-hover w3-center">
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Points</th>
      <th>Parties Gagnées</th>
      <th>Parties Jouées</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="membre : ${membresList}">
      <td th:text="${membre.nom}">John</td>
      <td th:text="${membre.prenom}">Doe</td>
      <td th:text="${membre.nbPoints}">1500</td>
      <td th:text="${membre.partiesGagnees}">15</td>
      <td th:text="${membre.partiesJouees}">30</td>
    </tr>
    </tbody>
  </table>

</div>

<div class="w3-container w3-content w3-center w3-white " id="regle">
<h1 class="w3-center"> Règles des tournois </h1>
</br>
<p> Voici les règles des tournois de l'association <p>
<p>1. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>2. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>3. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>4. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>5. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>6. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>7. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>8. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>9. Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>10. Le donneur distribue à chaque joueur deux cartes, une par une.</p>


</div>

<div th:replace="~{fragment::script}"></div>

</body>

</html>