<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Mon Compte</title>
<head>
    <link rel="icon" type="image/ico" href="/img/pique.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117171421-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117171421-1');
    </script>
</head>
<div th:replace="~{fragment::css}"></div>

<div th:replace="~{fragment::style2}"></div>

<body>

<div th:replace="~{fragment::navbar3}"></div>

<div class="w3-content w3-container w3-white w3-center w3-display-middle w3-mobile w3-hide-large w3-hide-medium" style="margin-top:50px;padding-top: 150px;padding-bottom: 100px;">
    <h1 class="w3-indigo"> MON COMPTE</h1></br>
    <form action="modifmdp" method="post">
        <h3> Changer de mot de passe:</h3></br>
        <p>Nouveau mot de passe :</p>
        <input class="w3-border w3-input" id="id_password1" type="text" name="password">
        <input class="w3-btn w3-round-large w3-black w3-center" type="submit" value="Valider" style="margin-bottom: 20px;margin-top: 30px"></br>
        </br>
    </form>
    <form method="post" action="/jointournoi">
        <input class="w3-btn w3-round w3-amber w3-center" type="submit" value="Inscription au prochain tournoi" style="margin-bottom: 20px;width: 234px;"></br>
    </form>
    </br>
    <form method="post" action="/delcompte">
        <input class="w3-btn w3-round w3-red w3-center" type="submit" value="Supprimer mon compte" style="margin-bottom: 20px;width: 234px;"></br>
    </form>
</div>

<div class="w3-content w3-container w3-white w3-center w3-display-middle w3-hide-small" style="padding-right: 200px;padding-left: 200px;padding-top: 50px;padding-bottom: 30px;">
    <h1 class="w3-indigo"> MON COMPTE</h1></br>
    <form action="modifmdp" method="post">
        <h3> Changer de mot de passe:</h3></br>
        <p>Nouveau mot de passe :</p>
        <input class="w3-border w3-input" id="id_password1" type="text" name="password"></br>
        <input class="w3-btn w3-round-large w3-black w3-center" type="submit" value="Valider" style="margin-bottom: 20px;margin-top: 30px"></br>
    </form>
    </br>
    <form method="post" action="/jointournoi">
        <input class="w3-btn w3-round w3-amber w3-center" type="submit" value="Inscription au prochain tournoi" style="margin-bottom: 20px;width: 234px;"></br>
    </form>
    <form method="post" action="/canceltournoi">
        <input class="w3-btn w3-round w3-red w3-center" type="submit" value="Annuler Inscription" style="margin-bottom: 20px;width: 234px;"></br>
    </form>
    </br>
    <form method="post" action="/delcompte">
        <input class="w3-btn w3-round w3-red w3-center" type="submit" value="Supprimer mon compte" style="margin-bottom: 20px;width: 234px;"></br>
    </form>
</div>

<div th:replace="~{fragment::script}"></div>

</body>
</html>