<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Mon Compte</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:replace="~{fragment::style2}"></div>

<body>

<div th:replace="~{fragment::navbar2}"></div>

<div class="w3-content w3-container w3-white w3-center" id="class">

    <h1> MON COMPTE</h1>

    <h3> Changer de mot de passe:</h3>
    <p>Nouveau mot de passe :</p>
    <input id="id_password1" type="text" name="password1"></br>
    <p> Confirmation du mot de passe :</p>
    <input id="id_password2" type="text" name="password2"></br>
    <btn class="w3-btn w3-round-large w3-black w3-center" style="margin-bottom: 20px;margin-top: 30px">Valider</btn>
    </br>
    <form method="post">
        <btn class="w3-btn w3-round-large w3-amber w3-center" type="submit" style="margin-bottom: 20px;margin-top: 60px">Inscription au prochain tournoi</btn>
    </form>
    </br>
    <form method="post" action="delcompte">
        <btn class="w3-btn w3-round w3-red w3-center" type="submit" style="margin-bottom: 20px;">Supprimer mon compte</btn>
    </form>

</div>

<div th:replace="~{fragment::script}"></div>

</body>
</html>