<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Tournois</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <link rel="icon" type="image/ico" href="/img/pique.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117171421-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117171421-1');
    </script>
</head>

<div th:replace="~{fragment::style5}"></div>

<body>

<div th:replace="~{fragment::navbar3}"></div>


<iframe src="http://fr.mypokertour.org/horloge.html" width="85%" height="85%" style="margin-top: 80px;margin-left: 7%"></iframe>


<div th:replace="~{fragment::script}"></div>
</body>

</html>