<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Tournois</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <link rel="icon" type="image/ico" href="/img/pique.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117171421-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117171421-1');
    </script>
</head>

<div th:replace="~{fragment::style5}"></div>

<body>

<div th:replace="~{fragment::navbar3}"></div>

<div name="minuteur" id="minuteur" class="w3-center w3-content w3-container w3-center" style="margin-top: 50px;width:25%;height:10%;">
    <h1 id="time-display" class="timer-display w3-black" style="font-size:90px;font-family: 'Arial Black', Gadget, sans-serif;">10:00</h1></br>
</div>

<div id="tables">
<div class="w3-container w3-content w3-display-left" name="tabletournoi" style="margin-top:10%;margin-left: 5px;">
    <h4 class="w3-white w3-center" style="width: 300px" > Nicolas - Nicolas - Nicolas </h4>
    <img src="/img/table.png" style="width: 300px;">
    <h4 class="w3-white w3-center" style="width: 300px" > Nicolas - Nicolas - Nicolas  </h4>
</div>

<div class="w3-container w3-content w3-display-middle" name="tabletournoi" style="margin-top:10%;margin-left: 5px;">
    <h4 class="w3-white w3-center" style="width: 300px" > Nicolas - Nicolas - Nicolas </h4>
    <img src="/img/table.png" style="width: 300px;">
    <h4 class="w3-white w3-center" style="width: 300px" > Nicolas - Nicolas - Nicolas </h4>
</div>
<div class="w3-container w3-content w3-display-right" name="tabletournoi" style="margin-top:10%;margin-left: 5px;">
    <h4 class="w3-white w3-center" style="width: 300px" > Nicolas - Nicolas - Nicolas  </h4>
    <img src="/img/table.png" style="width: 300px;">
    <h4 class="w3-white w3-center" style="width: 300px" > Nicolas - Nicolas - Nicolas  </h4>
</div>
</div>


<script id="script2"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="/js/minuteur.js" type="text/javascript">
    var e=request.getParameter("tournoiadmin #minutes")
</script>


<div th:replace="~{fragment::script}"></div>
</body>

</html>