<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Tournois</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:replace="~{fragment::style4}"></div>

<body>

<div th:replace="~{fragment::navbar}"></div>

<div class="w3-content w3-display-middle w3-white w3-center w3-hide-large w3-hide-medium">
    <h1 style="left: 50%;right: 50%;padding-left: 32px;padding-right: 32px;"> PAGE EN COURS DE </br> CONSTRUCTION </h1>
    <img src="/img/Attention.jpg" width="400px">

</div>

<div class="w3-content w3-margin-top w3-display-middle w3-white w3-center w3-padding-64 w3-hide-small" style="padding-right: 200px;padding-left: 200px">
    <h1 class="w3-margin-top"> PAGE EN COURS DE </h1>
    <h1>CONSTRUCTION</h1>
    <img src="/img/Attention.jpg" width="400px">

</div>


<div th:replace="~{fragment::script}"></div>

</body>

</html>